@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  margin: 0;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  max-width: 100%;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
}

.quiz-header{
  padding: 4rem;
}

ul{
  list-style-type: none;
  padding: 0;
}

button {
  background-color: royalblue;
  display: block;
  width: 100%;
  padding: 1.3rem;
  color: white;
  font-family: inherit;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: rgb(113, 129, 175);
}

h2{ 
  margin: 0;
}

ul li{
  margin: 1rem 0;
  font-size: 1.1 rem;
}
